/* CSS stylesheet for application */

body{
    font-family: Arial, sans-serif;
}

h1{
   color: #000185;
}

p{
    color: #000038;
}

.navbar{
    background-color: #000038;
}

.nav-link{
    color: #d1af15;
}

.btn{
    background-color: #000185;
    border-radius: 25px;
    color: #d1af15;
}
.btn:hover{
    background-color: #000185;
    border-radius: 25px;
    color: #d1af15;
}


table {
    border-collapse: collapse;
    border: 1px solid white;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}



